<div class="summary-panel-container">  

  <div class="p-card-container">
    <p-card header="Distribución P. Total Vigente" styleClass="chart-card">
      <p-chart type="pie" [data]="pieChartData" [options]="pieChartOptions"></p-chart>
    </p-card>
  </div>

  <div class="p-card-container">
    <p-card header="Detalle P. Corriente" styleClass="chart-card">
      <p-chart type="pie" [data]="barChartData" [options]="pieChartOptions"></p-chart>
    </p-card>
  </div>

  <div class="p-card-container">
    <p-card header="Presupuesto Total Vigente" styleClass="total-budget-card">
      {{ totalPresupuestoVigente | numberFormat }}
    </p-card>
  </div>

</div>