/* FOOTER */
footer {
  padding: unset;
  border: unset;
  color: unset;
  background: unset;
}

footer p {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: unset;
  -webkit-margin-before: unset;
  margin-block-start: unset;
}

.gov-co-footer {
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0743b5;
}

.gov-co-footer a {
  color: #fff !important;
}

.gov-co-footer a:visited {
  color: #fff !important;
}

/* Footer subcontainer */
.gov-co-footer .gov-co-footer-pie.footer-venta {
  padding: 40px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  row-gap: 35px;
  width: 100%;
  background-color: #0743b5;
}

/* Sección logos */
.gov-co-footer .gov-co-footer-venta {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: start;
}

.gov-co-footer-venta-imgs-container {
  display: block;
  text-align: left;
}

.gov-co-footer-venta-imgs-container img {
  -webkit-box-sizing: unset;
  box-sizing: unset;
}

.gov-co-logo-pie-blanco-container {
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gov-co-logo-pie-blanco {
  width: 134px;
  height: 100%;
  padding-right: 20px;
}

.gov-co-logo-pie-mesa {
  padding-left: 10px;
  margin-left: 10px;
  height: 48px;
  width: 48px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.gov-co-logo-pie-mesa-container{
  margin-top: 20px;
}

/* Seccion Información y redes sociales */
.gov-co-footer .gov-co-presen-venta {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.titulo-venta {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.gov-co-presen-venta .row-data {
  margin-bottom: 25px;
}

.gov-detalles-venta {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}

/* Redes sociales */
.gov-co-footer .gov-co-presen-venta .gov-co-social-media-venta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  row-gap: 15px;
  -webkit-box-pack: start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gov-co-link-venta {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
}

/* Iconos */
.redes-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 135px;
  font-size: 12px;
}

.redes-icon {
  border-radius: 10%;
  background: #fff;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #0743b5;
}

.redes-icon img {
  max-height: 16px;
  max-width: 16px;
}

.gov-co-link-venta:hover {
  opacity: 0.9;
}

.fa-tiktok svg {
  display: inherit;
  width: 10px;
  height: 13px;
}

#redes-linkedin {
  margin-right: 15px;
}

.govco-icon {
  font-family: "Govco Icon";
  font-size: 2em;
}

/* Contacto */
.gov-co-footer .gov-co-conta-venta {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 5px;
}

.gov-co-conta-venta .row-data {
  margin-bottom: 25px;
}

.sub-titulo-venta {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.gov-detalles-venta-conta {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}

/* Enlaces */
.gov-co-footer .gov-co-pilo-venta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  row-gap: 15px;
}

.gov-co-pilo-venta>a {
  margin-right: 15px;
}

.goc-co-link-poli-venta {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
}

a.goc-co-link-poli-venta {

}

.goc-co-link-poli-venta:hover {
  opacity: 0.9;
}

.sub-titulo-venta .fa-telefono {
  font-size: 20px;
  margin-right: 10px;
}

.fa-telefono {
  margin-right: 3px;
}

@media (min-width: 1200px) {
  .gov-co-footer>.gov-co-footer-pie.footer-venta {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  }

  .gov-co-footer .gov-co-footer-venta {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-pack: start;
      row-gap: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 14%;
      -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
      align-content: space-around;
  }

  .gov-co-footer .gov-co-presen-venta {
      margin: 0 20px;
      padding: 0px 20px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      width: 45%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }

  .gov-co-footer .gov-co-conta-venta {
      padding: 0;
      margin: 0;
      border: initial;
      width: 35%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }

  .gov-co-logo-pie-mesa {
      width: 48px;
      height: 48px;
      padding-left: 0px;
      margin-left: 1px;
  }

  .gov-co-footer .gov-co-presen-venta .gov-co-social-media-venta {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-column-gap: 25px;
      -moz-column-gap: 25px;
      column-gap: 25px;
  }

  .gov-co-footer .gov-co-conta-venta .gov-co-pilo-venta {
      row-gap: 10px;
  }

  .gov-co-footer .gov-co-footer-pie.footer-venta {
      padding: 40px;
  }
}

@media (min-width: 1400px) {
  .gov-co-footer>.gov-co-footer-pie.footer-venta {
      max-width: 1400px;
  }

  .gov-co-conta-venta .row-data {
      margin-bottom: 15px;
  }
}
