<footer class="gov-co-footer">
  <div class="gov-co-footer-pie footer-venta">
    <div class="gov-co-footer-venta">
      <div class="gov-co-footer-venta-imgs-container">
        <div class="gov-co-logo-pie-blanco-container">
          <img class="gov-co-logo-pie-blanco" src="https://cdn.www.gov.co/assets/images/logoGovCO.png" alt="Logo de GOV.CO">
        </div>
        <div class="gov-co-logo-pie-mesa-container">
          <img class="gov-co-logo-pie-mesa" src="https://cdn.www.gov.co/v3/assets/images/colombiaco_Mesa de trabajo 1.png" alt="Logo de Colombia CO">
        </div>
      </div>
    </div>
    <div class="gov-co-presen-venta">
      <div class="gov-co-info-venta">
        <h5 class="titulo-venta">Departamento Nacional de Planeación</h5>
        <div class="row-data">
          <div class="gov-detalles-venta">
            <p>Dirección: Calle 26 # 13-19, Piso 1° - Edificio ENTerritorio / Bogotá D.C., Colombia</p>
            <p>Código Postal: 110311</p>
            <p>Horario de Atención: Lunes a Viernes 8:00 a.m. a 4:30 p.m.<br>jornada continua</p>
          </div>
        </div>
      </div>
      <div class="gov-co-social-media-venta">
        <a class="gov-co-link-venta redes-link" href="https://twitter.com/DNP_Colombia" title="Red Social X">
          <div class="redes-icon">
            <img src="/assets/img/twitter.svg" alt="Icono de X">
          </div>
          <div class="redes-texto">[at]DNP_COLOMBIA</div>
        </a>
        <a class="gov-co-link-venta redes-link" href="https://www.instagram.com/dnp_colombia" title="Red Social Instagram">
          <div class="redes-icon">
            <img src="/assets/img/instagram.svg" alt="Icono de Instagram">
          </div>
          <div class="redes-texto">[at]DNP_COLOMBIA</div>
        </a>
        <a class="gov-co-link-venta redes-link" href="https://www.facebook.com/departamentonacionaldeplaneacion" title="Red Social Facebook">
          <div class="redes-icon">
            <img src="/assets/img/facebook.svg" alt="Icono de Facebook">
          </div>
          <div class="redes-texto">[at]DNPCOLOMBIA</div>
        </a>
        <a class="gov-co-link-venta redes-link" href="https://www.youtube.com/[at]DNP_COLOMBIA" title="Red Social Youtube">
          <div class="redes-icon">
            <img src="/assets/img/youtube.svg" alt="Icono de Youtube">
          </div>
          <div class="redes-texto">[at]DNP COLOMBIA</div>
        </a>
        <a class="gov-co-link-venta redes-link" href="https://www.linkedin.com/company/departamento-nacional-de-planeacion" title="Red Social LinkedIn">
          <div class="redes-icon">
            <img src="/assets/img/linkedin.svg" alt="Icono de LinkedIn">
          </div>
          <div class="redes-texto">DNP COLOMBIA</div>
        </a>
        <a class="gov-co-link-venta redes-link" href="https://www.tiktok.com/[at]dnp_colombia" title="Red Social Tiktok">
          <div class="redes-icon">
            <img src="/assets/img/tiktok.svg" alt="Icono de Tiktok">
          </div>
          <div class="redes-texto">[at]DNP_COLOMBIA</div>
        </a>
      </div>
    </div>
    <div class="gov-co-conta-venta">
      <div>
        <h5 class="sub-titulo-venta"><i class="fa fa-phone fa-telefono" aria-hidden="true"></i><span class="govco-icon govco-icon-telephone size-1x"></span>Contacto</h5>
        <div class="row-data">
          <div class="gov-detalles-venta-conta">
            <p>Teléfono Conmutador: +57 601 381 50 00</p>
            <p style="display: none;">Línea de servicio a la ciudadanía: 01 8000 121221</p>
            <p>Línea gratuita anticorrupción: 01 8000 121221 opción 2</p>
            <p>Correo electrónico: <a href="mailto:servicioalciudadano[at]dnp.gov.co">servicioalciudadano[at]dnp.gov.co</a></p>
            <p>Buzón de notificaciones DNP: <a href="mailto:notificacionesjudiciales[at]dnp.gov.co">notificacionesjudiciales[at]dnp.gov.co</a></p>
          </div>
        </div>
      </div>
      <div class="gov-co-pilo-venta">
        <a class="goc-co-link-poli-venta" href="https://pqrsd.dnp.gov.co">Formule su petición PQRSD</a>
        <a class="goc-co-link-poli-venta" href="https://dnp.gov.co/Politica-de-seguridad#terminos-y-condiciones">Términos y condiciones</a>
        <a class="goc-co-link-poli-venta link-poli" href="https://www.dnp.gov.co/Politica-de-seguridad#politica-de-privacidad">Política de privacidad</a>
        <a class="goc-co-link-poli-venta link-poli" href="https://www.dnp.gov.co/Politica-de-seguridad#politica-derechos-de-autor">Política de derechos de autor</a>
        <a class="goc-co-link-poli-venta" href="/Paginas/MapaSitio.aspx">Mapa del sitio</a>
        <a class="goc-co-link-poli-venta" href="/_layouts/15/Authenticate.aspx" id="iniciar-sesion">Inicio de sesión</a>
      </div>
    </div>
  </div>
</footer>
