footer {
    display: block;
    unicode-bidi: isolate;
}

.DNPFooter-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    color-stop(15%, #fff),
    color-stop(15%, #ededed),
    color-stop(85%, #ededed),
    color-stop(85%, #ededed)
  );
  background-image: linear-gradient(
    to bottom,
    #fff,
    #fff 15%,
    #ededed 15%,
    #ededed 85%,
    #ededed 85%
  );
  background-color: #ededed;
}

.DNPFooter-info-container {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 90%;
  padding: 50px 50px 10px;
  max-width: 1180px;
  -webkit-box-shadow: 0 0 3px grey;
  box-shadow: 0 0 3px grey;
  margin: 0 auto 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-container {
    width: 80vw;
    padding: 4vw 5vw 1vw;
    margin-bottom: 1vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-container {
    width: 80vw;
    padding: 4vw 5vw 1vw;
    margin-bottom: 1vw;
  }
}

.DNPFooter-info-title {
  font-family: "Work Sans", sans-serif;
  color: #004884;
  font-weight: 500;
  width: 60%;
  font-size: 20px;
  margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-title {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-title {
    width: 100%;
    font-size: 5vw;
    padding-bottom: 3vw;
  }
}

.DNPFooter-info-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 35%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 50px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-logos {
    height: 4.1vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-logos {
    height: auto;
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.DNPFooter-info-logos a img {
  height: 54px;
}

.DNPFooter-info-logos-element {
  height: 80px;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-logos a img {
    height: 5vw;
  }

  .DNPFooter-info-logos-element {
    height: 7vw;
    margin-bottom: 1vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-logos a img {
    height: 12vw;
  }

  .DNPFooter-info-logos-element {
    margin-bottom: 1vw;
    height: 18vw;
  }
}

.DNPFooter-info-data {
  padding-bottom: 10px;
}

.DNPFooter-info-data-title {
  font-family: "Work Sans", sans-serif;
  color: #004884;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-data-title {
    font-size: 1.3vw;
    margin-bottom: 1vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-data-title {
    font-size: 4vw;
    margin: 3vw 0;
  }
}

.DNPFooter-info-data-text {
  font-family: "Work Sans", sans-serif;
  color: #535353;
  font-weight: 400;
  margin-bottom: inherit;
  line-height: initial;
  font-size: 14px;
  padding-bottom: 5px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-data-text {
    font-size: 1.1vw;
    padding-bottom: 0.5vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-data-text {
    font-size: 3vw;
    padding-bottom: 2vw;
  }
}

.DNPFooter-info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
}

.DNPFooter-info-social-element {
  font-family: "Work Sans", sans-serif;
  color: #004884;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 0 20px 5px 0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-social-element {
    font-size: 1.1vw;
    padding-bottom: 0.5vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-social-element {
    font-size: 3vw;
    padding-bottom: 2vw;
  }
}

.DNPFooter-info-social-element:visited,
.DNPFooter-info-social-element:hover {
  color: #3366cc;
}

.DNPFooter-info-social-element:before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-color: #004884;
  color: #fff;
  border-radius: 50%;
  background-position: center;
  vertical-align: middle;
  background-size: 14px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-social-element:before {
    background-size: 1.2vw;
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 0.5vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-social-element:before {
    background-size: 2.5vw;
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
  }
}

.DNPFooter-info-social-element.tw:before {
  background-image: url("https://dnp.gov.co/assets/tw_icon.svg");
}

.DNPFooter-info-social-element.ig:before {
  background-image: url("https://dnp.gov.co/assets/ig_icon.svg");
}

.DNPFooter-info-social-element.fb:before {
  background-image: url("https://dnp.gov.co/assets/fb_icon.svg");
}

.DNPFooter-info-social-element.in:before {
  background-image: url("https://dnp.gov.co/assets/in_icon.svg");
}

.DNPFooter-info-social-element.yt:before {
  background-image: url("https://dnp.gov.co/assets/yt_icon.svg");
}

.DNPFooter-info-social-element.tk:before {
  background-image: url("https://dnp.gov.co/assets/tk_icon.svg");
}

.DNPFooter-info-social-link {
  font-family: "Work Sans", sans-serif;
  color: #535353;
  text-decoration: underline;
  font-weight: 700;
  font-size: 14px;
  padding: 0 20px 5px 0;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-info-social-link {
    font-size: 1.1vw;
    padding-bottom: 0.5vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-info-social-link {
    font-size: 3vw;
    padding-bottom: 2vw;
  }
}

.DNPFooter-info-social-link:visited {
  color: #535353;
}

.DNPFooter-bar {
  width: 100vw;
  background-color: #3366cc;
  z-index: 50;
  padding: 20px 0;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-bar {
    padding: 2vw 0;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-bar {
    padding: 4vw 0;
  }
}

.DNPFooter-bar-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex ;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-bar-container {
    padding: 0 1vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-bar-container {
    padding: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.DNPFooter-bar-logo {
  height: 25px;
  margin-right: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .DNPFooter-bar-logo {
    height: 2.5vw;
    margin-right: 1vw;
    padding-right: 1vw;
  }
}

@media screen and (max-width: 600px) {
  .DNPFooter-bar-logo {
    height: 7vw;
    margin-right: 2vw;
    padding-right: 2vw;
  }
}

.DNPFooter-bar-logo.border {
  border: none !important;
  border-right: solid 1px #fff !important;
}

@media screen and (max-width: 600px) {
  .DNPFooter-bar-logo {
    border-right-width: 0.2vw;
  }
}