<div class="chart-container">
  <div class="chart-header">
    <p-selectButton [options]="viewOptions" [(ngModel)]="selectedView"
    (onChange)="onChartTypeChange($event)" optionLabel="label" optionValue="value"
    aria-labelledby="basic"></p-selectButton>
  </div>

  <div class="chart-content">
    <p-card>
      <div class="chart-area">
        <!-- Gráfico Circular (PIE) -->
        <div *ngIf="selectedView === 'pie'" class="chart-wrapper">
          <p-chart type="doughnut" [data]="chartData.pie" [options]="chartOptions.pie"></p-chart>
        </div>

        <!-- Gráfico de Barras -->
        <div *ngIf="selectedView === 'bar'" class="chart-wrapper">
          <p-chart type="bar" [data]="chartData.bar" [options]="chartOptions.bar" ></p-chart>
        </div>
      </div>

      <div class="chart-footer">
        <div class="chart-info">
          <p>Valores expresados en pesos colombianos. La distribución muestra la proporción de recursos asignados a cada categoría del Sistema General de Participaciones (SGP).</p>
        </div>
      </div>
    </p-card>
  </div>
</div>
