.container{
  padding: 5px 5px 5px 5px;
}
.table-header{
  background-color: #0943b5;
  color: white;
}
.p-datatable-tbody > tr > td {
  padding: 2px !important;
}
.reports{
  display: flex;
  .reports-title{
      color: #004583;
      font-weight: 800;
      font-size: 24px;
  }
  .sicodis{
      color: #004583;
      font-weight: 800;
      font-size: 24px;
  }
}
.opt-select{
  color: #004583;
  font-weight: 600;
  font-size: 14px;
}
.resume{
  border: solid 1px #E8E7E7;
  background-color: #f1f0f0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin: 5px 5px 5px 5px;
}
.title-graph{
  color: #004583;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  border-bottom: solid 2px;
}
.container-columns{
  display: flex;
}
.columns{
  padding: 5px;
  h3{
      text-align: center;
      color: #004583;
      font-weight: 600;
      font-size: 20px;
  }
  p{
      text-align: center;
      color: #0943b5;
      font-weight: bold;
      font-size: 24px;
  }
  mat-header-cell{
      background-color: #0943b5;
      color: white;
  }
}
.select-filters{
  text-align: left !important;
}
canvas {
  max-width: 500px;
  margin: 0 auto;
}
.button-export{
  display: flex;
  position: relative;
  button{
      font-size: 16px;
      font-weight: 600;
      background-color: #356ad4;
      color: white;
      border-radius: 24px;
      padding: 16px 24px 16px 24px;
      cursor: pointer;
      margin-top: 4%;
      position: absolute;
      right: 0;
  }
  button:hover {
      background-color: #295fcc;
  }
}
.button-filter{
  font-size: 16px;
  font-weight: 600;
  background-color: #356ad4;
  color: white;
  border-radius: 30px;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  margin: 10px 1px 20px 0px;
}
.button-filter:hover {
  background-color: #295fcc;
}
.department-select{
  margin: 0px 4px 0px 4px;
}
.town-select{
  margin: 0px 4px 0px 4px;
}
