<div class="sicodis-container">
  <div class="tree-table-container">
    <p-treetable [value]="data"
                  [columns]="cols"
                  [paginator]="true"
                  [rows]="20"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedNode"
                  styleClass="p-treetable-sm"
                  [resizableColumns]="true"
                  columnResizeMode="expand">

      <ng-template pTemplate="caption">
        <div class="caption-container">
          <h2 class="reports-title">Propuesta Resumen SGR</h2>
          <p class="instruction-text">
              Haga doble clic en el encabezado "Presupuesto Otros" para ver el detalle de las fuentes
            </p>
        </div>
      </ng-template>

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width]="col.field === 'concepto' ? '40%' : '20%'">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns"
              [ngStyle]="{'width': col.width}"
              [ngClass]="col.field === 'presupuesto_otros' ? 'expandable-column' : ''"
              (dblclick)="col.field === 'presupuesto_otros' ? toggleColumns() : null">
            {{col.header}}
            <span *ngIf="col.field === 'presupuesto_otros'" class="toggle-icon">
              {{isExpanded ? '(-)' : '(+)'}}
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td *ngFor="let col of cols">
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="col.field === 'concepto'"></p-treeTableToggler>
              <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'concepto'">
                  <span [ngClass]="{'font-bold': rowNode.level <= 1}">
                    {{rowData.categoria ? rowData.categoria + ' - ' : ''}}{{rowData.concepto}}
                  </span>
                </ng-container>

                <ng-container *ngSwitchCase="'porcentaje_1'">
                  {{formatPercentage(rowData[col.field])}}
                </ng-container>

                <ng-container *ngSwitchCase="'porcentaje_2'">
                  {{formatPercentage(rowData[col.field])}}
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <div class="text-right" *ngIf="rowData[col.field] !== null && rowData[col.field] !== undefined">
                    {{formatCurrency(rowData[col.field])}}
                  </div>
                  <div class="text-right no-data" *ngIf="rowData[col.field] === null || rowData[col.field] === undefined">
                    -
                  </div>
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-template>

    </p-treetable>
  </div>

</div>
