/* styles.scss */
@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --md-font-family: "Work Sans", sans-serif;
  --mat-sys-label-large-size: 0.75rem;
}

.p-component {
  font-family: "Work Sans", sans-serif;
}
