<!-- prototipo-sgp.component.html -->
<div class="container">
  <!-- Sección A: Banner con título -->
  <div class="gradient-banner">
    <div class="gradient-overlay"></div>
    <div class="banner-content">
      <h2>Sistema General de Participaciones (SGP)</h2>
      <p>Consulte el resumen del avance presupuestal del SGP a nivel nacional para la vigencia actual. 
        En él se presentan el valor del presupuesto apropiado, los recursos distribuidos y el saldo pendiente por asignar.
 	 	 	</p>
    </div>
  </div>

  <!-- Fechas de información -->
  <div class="dates-buttons-container">
    <div style="width: 83%;">
      <p class="date-update">Fecha de actualización: {{ fechaActualizacion }}</p>
    </div>
  </div>

  <div class="main-title">
    <h2>
      Resumen de la distribución del presupuesto
    </h2>
  </div>

  <!-- Sección B + C: Tarjetas de cifras (izquierda) y Treemap (derecha) -->
  <div class="main-grid">
    
    <!-- C: Tarjetas de presentación de cifras -->
    <div class="metrics-column">
      <!-- Selector de vigencia -->
       <mat-card class="metric-item">
        <mat-card-header>
          <div class="vigencia-selector">
            <p-floatlabel class="w-full md:w-56" variant="on">
              <p-select 
                id="vigencia" 
                [options]="vigencias" 
                inputId="vigenciaSelect" 
                [(ngModel)]="selectedVigencia"
                (onChange)="onVigenciaChange($event)"
                optionLabel="label" 
                placeholder="Vigencia">
              </p-select>
              <label for="vigenciaSelect">Vigencia</label>
            </p-floatlabel>        
          </div>
        </mat-card-header>
      </mat-card>
      <mat-card class="metric-item">
        <mat-card-header>
          <mat-card-title class="card-title card-main">Presupuesto SGP</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="metric-value">{{ cifras.presupuesto | numberFormat }}</div>
        </mat-card-content>
      </mat-card>
      <mat-card class="metric-item">
        <mat-card-header>
          <mat-card-title class="card-title card-main">Recursos distribuidos hasta la fecha</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="metric-value">{{ cifras.distribuido | numberFormat }}</div>
        </mat-card-content>
      </mat-card>
      <mat-card class="metric-item">
        <mat-card-header>
          <mat-card-title class="card-title card-main">Recursos pendientes por distribuir</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="metric-value">{{ cifras.pendiente | numberFormat }}</div>
        </mat-card-content>
      </mat-card>
      <mat-card class="metric-item">
        <mat-card-header>
          <mat-card-title class="card-title card-main">Avance de la distribución</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="metric-value">{{ cifras.avance | percentFormat:2}}</div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- B: Gráfico Donut -->
    <div class="chart-donut">
      <h1 class="chart-title">Avance en la distribución</h1>
      <p-chart type="doughnut" [data]="donutData" [options]="donutOptions"></p-chart>
    </div>
  </div>

  <!-- Sección D: Notas informativas -->
  <div class="final-notes-container">
    <strong>NOTAS</strong>
    <p class="final-note">
      <strong>(1)</strong> Cifras en pesos corrientes.
    </p>
    <p class="final-note" *ngIf="cifras.pendiente > 0">
      <strong>(2)</strong> Los recursos pendientes por distribuir corresponden a i) la participación para educación 
      por concepto de las doce doceavas por $1.839 mm y ii) la asignación especial para el FONPET por concepto de las
      once doceavas por $ 2.469 mm.
    </p>
  </div>


  <!-- Sección F: Herramientas y recursos -->
  <div class="herramientas-recursos-section">
    <h2>Herramientas y Recursos</h2>
    <div class="herramientas-cards-container">
      <div class="herramienta-card" 
           *ngFor="let recurso of recursos" 
           (click)="navigateToResource(recurso.link)"
           style="cursor: pointer;">
        <div class="card-icon-placeholder">
          <img [src]="recurso.icon" alt="{{ recurso.titulo }}" class="mr-2 sgp-icon">
        </div>
        <div class="card-content">
          <p>{{ recurso.descripcion }}</p>
        </div>
        <mat-icon style="font-size: 32px; color: #156082;">chevron_right</mat-icon>        
      </div>
    </div>
  </div>
</div>
