<div class="reporte-funcionamiento-container">
  
  <!-- <app-info-popup [infoText]="infoPopupContent" contentTitle="Información Detallada del Reporte"></app-info-popup> -->
  
  <!-- Popups para Diccionario y Siglas -->
  <app-info-popup 
    [infoText]="diccionarioContent" 
    contentTitle="Diccionario de Conceptos"
    [showPopup]="showDiccionarioPopup"
    (onClose)="closeDiccionarioPopup()">
  </app-info-popup>
  
  <app-info-popup 
    [infoText]="siglasContent" 
    contentTitle="Siglas y Abreviaciones"
    [showPopup]="showSiglasPopup"
    (onClose)="closeSiglasPopup()">
  </app-info-popup> 

  <div class="gradient-banner">    
    <div class="banner-content">
      <h2>Administración y Sistema de Seguimiento (SSEC)</h2>
        <p>Consulte información completa sobre la distribución, ejecución, recaudo y 
          saldos indicativos de cada una de las entidades beneficiarias de la Administración
          y el Sistema de Seguimiento Evaluación y Control del SGR. 
 	 	 	 	</p>
    </div>
  </div>

  <!-- Panel superior con selects -->
  <div class="filters-panel">
    <div class="filters-row">
      <div class="p-field vigencia-select">
        <p-floatlabel class="w-full md:w-56" variant="on">
           <p-select 
            id="vigencia" 
            [options]="vigencia" 
            inputId="vigenciaSelect" 
            [(ngModel)]="selectedVigencia"
            (onChange)="onVigenciaChange($event)"
            optionLabel="label" 
            placeholder="Bienio" >
          </p-select>
          <label for="vigenciaSelect">Bienio</label>
        </p-floatlabel>
      </div>

      <div class="p-field asignaciones-select">
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-multiselect id="asignaciones" [options]="fuentes" inputId="asignacioneSelect" [(ngModel)]="selectedFuente"
            (onChange)="onFuenteChange($event)" optionLabel="label" [maxSelectedLabels]="3">
          </p-multiselect>
          <label for="asignacioneSelect">Asignaciones</label>
        </p-floatlabel>
      </div>

      <div class="p-field conceptos-select">
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-multiselect id="conceptos" [options]="conceptos" inputId="conceptosSelect" [(ngModel)]="selectedConcepto"
            (onChange)="onConceptoChange($event)" optionLabel="label" 
            [maxSelectedLabels]="3"></p-multiselect>
          <label for="conceptosSelect">Conceptos</label>
        </p-floatlabel>

      </div>

      <div class="p-field beneficiarios-select">
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-multiselect id="beneficiarios" [options]="beneficiarios" inputId="beneficiariosSelect"
            [(ngModel)]="selectedBeneficiario" optionLabel="label" (onChange)="onBeneficiarioChange($event)" 
            [maxSelectedLabels]="3"></p-multiselect>
          <label for="beneficiariosSelect">Beneficiario</label>
        </p-floatlabel>
      </div>

      <div class="p-field dpto-select" *ngIf="showDptos">
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select id="departamento" [options]="departamentos" inputId="departamentoSelect"
            [(ngModel)]="selectedDepartamento" optionLabel="label" (onChange)="onDepartamentoChange($event)" 
            placeholder="Departamento" ></p-select>
          <label for="departamentoSelect">Departamento</label>
        </p-floatlabel>
      </div>

      <div class="p-field mpio-select" *ngIf="showMpios">
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select id="municipio" [options]="municipios" inputId="municipioSelect"
            [(ngModel)]="selectedMunicipio" optionLabel="beneficiario" (onChange)="onMunicipioChange($event)" 
            placeholder="Municipio" ></p-select>
          <label for="municipioSelect">Municipio</label>
        </p-floatlabel>
      </div>

      <div class="p-field clear-filters">
        <button pButton type="button" icon="pi pi-eraser" label="Limpiar filtros" class="p-button-secondary"
          (click)="clearFilters()">
        </button>
      </div>
    </div>
  </div>

  <!-- Mensaje cuando no hay datos seleccionados -->
  <div *ngIf="!registroActual" class="no-data-message">
    <mat-card class="info-card">
      <mat-card-content>
        <div class="no-data-content">
          <mat-icon class="no-data-icon">info</mat-icon>
          <h3>Seleccione los filtros para ver la información</h3>
          <p>Para visualizar los datos de funcionamiento, complete la selección de Fuente, Concepto y Beneficiario en el
            panel superior.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="display: flex;width: 102%;">
    <div style="width: 81%;">
      <p class="date-update">Fecha de actualización: junio 30 de 2025</p>
      <p class="date-update">Fecha de corte de recaudo: mayo 30 de 2025</p>
    </div>
    <div style="position: relative; right:-1rem;">
      <button pButton type="button" label="Diccionario" class="p-button-secondary" style="margin-right: 2rem; width: 90px;"
          (click)="showPopupDiccionario()">
      </button>
      <button pButton type="button" label="Siglas" class="p-button-secondary" style="width: 90px;"
          (click)="showPopupSiglas()">
      </button>
    </div> 
  </div>

  

  <!-- Panel principal con dos columnas -->
  <div class="main-panel" *ngIf="registroActual">
    <!-- Columna izquierda (60%) - Tarjetas -->
    <div class="left-column">
      <!-- Tarjeta 1: Presupuesto -->
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title class="card-title card-main">Presupuesto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="metrics-row">
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(presupuestoData.presupuestoAsignado)}}</div>
              <div class="metric-label">Presupuesto Asignado</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(presupuestoData.disponibilidadInicial)}}</div>
              <div class="metric-label">Disponibilidad Inicial</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(presupuestoData.recursosBloquedos)}}</div>
              <div class="metric-label">Recursos Bloqueados</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(presupuestoData.presupuestoVigenteDisponible)}}</div>
              <div class="metric-label">Presupuesto Disponible</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Tarjeta 2: Ejecución Presupuestal -->
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title class="card-title card-main">Ejecución Presupuestal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="metrics-row">
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(ejecucionData.cdp)}}</div>
              <div class="metric-label">CDP</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(ejecucionData.compromiso)}}</div>
              <div class="metric-label">Compromiso</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(ejecucionData.pagos)}}</div>
              <div class="metric-label">Pagos</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(ejecucionData.recursoComprometer)}}</div>
              <div class="metric-label">Saldo sin afectación</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Tarjeta 3: Situación de Caja -->
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title class="card-title card-main">Situación de Caja</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="metrics-row">
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(situacionCajaData.disponibilidadInicial)}}</div>
              <div class="metric-label">Disponibilidad inicial</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(situacionCajaData.recaudo)}}</div>
              <div class="metric-label">Recaudo Total</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(situacionCajaData.cajaTotal)}}</div>
              <div class="metric-label">Caja Total</div>
            </div>
            <div class="metric-item">
              <div class="metric-value">{{formatMillions2(situacionCajaData.cajaDisponible)}}</div>
              <div class="metric-label">Caja Disponible</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Tarjeta 4: Avance de Recaudo -->
      <mat-card class="info-card">
        <mat-card-header class="card-header-avance-recaudo">
          <mat-card-title class="card-title card-main" card-main>Avance del recaudo de ingresos corrientes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="metrics-row">
            <div class="metric-item-2">
              <div class="metric-value">{{formatMillions2(avanceRecaudoData.presupuestoCorriente)}}</div>
              <div class="metric-label">Presupuesto corriente</div>
            </div>
          </div>
          <div class="metrics-row">
            <div class="metric-item-2">
              <div class="metric-value">{{formatMillions2(avanceRecaudoData.iacCorriente)}}</div>
              <div class="metric-label">Recaudo corriente</div>
            </div>
          </div>
          <div class="metrics-row">
            <div class="metric-item-2">
              <div class="metric-value">
                {{avanceRecaudoData.avance | percent:'1.0-2'}}
              </div>
              <div class="metric-label">Avance</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Columna derecha (40%) - Gráficos -->
    <div class="right-column">
      <!-- Gráfico 1: Donut Avance Ejecución-->
      <div class="chart-container">        
        <p-chart type="doughnut" [data]="donutAvanceEjecucionData" [options]="donutAvanceEjecucionOptions" class="chart"></p-chart>
        <div class="chart-value">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <span class="percentage">{{ compromisoPorcentaje}}%</span>          
          </div>          
        </div>
        <div class="chart-icon">
          <span class="percentage">
            <img src="/assets/img/avance-ejecucion.png" alt="Avance Ejecución" style="width: 36px; height: 36px;">
          </span>
        </div>
      </div>

      <!-- Gráfico 2: Barra horizontal -->
      <div class="chart-container">
        <div class="chart-icon">
          <span class="percentage">
            <img src="/assets/img/afectacion-presupuestal.png" alt="Afectación Presupuestal" style="width: 32px; height: 32px;">
          </span>
        </div>
        <p-chart type="bar" [data]="horizontalBarAfectacionData" [options]="horizontalBarAfectacionOptions" class="chart">
        </p-chart>        
      </div>

      <!-- Gráfico 3: Dona 180 grados -->
      <div class="chart-container">
        <div class="chart-icon">
          <span class="percentage">
            <img src="/assets/img/situacion-caja.png" alt="Afectación Presupuestal" style="width: 32px; height: 32px;">
          </span>
        </div>
        <p-chart type="bar" [data]="donutSituacionCajaData" [options]="donutSituacionCajaOpts" class="chart"></p-chart>        
      </div>
      <!-- Gráfico 4: Dona 180 grados -->
      <div class="chart-container">
        <div class="chart-icon">
          <span class="percentage">
            <img src="/assets/img/avance-recaudo.png" alt="Afectación Presupuestal" style="width: 36px; height: 36px;">
          </span>
        </div>
        <p-chart type="doughnut" [data]="donutAvanceRecaudoData" [options]="donutAvanceRecaudoOptions" class="chart"></p-chart>
        <div class="chart-value">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <span class="percentage"> {{avanceRecaudoData.avance | percent:'1.0-2'}}</span>          
          </div>          
        </div>
      </div> 
    </div>
  </div>
  
  
  <p class="final-note" style="font-size: 0.75rem;">
    <strong>m:</strong> Corresponde a cifras en millones de pesos.
  </p>
  <p class="final-note" style="padding-bottom: 1em; font-size: 0.75rem;">
    <strong>Fuente:</strong> Subdirección de Distribución de Recursos Territoriales - DPIP a partir de las resoluciones de Distribución de la Comisión Rectora del SGR y los reportes de información del Sistema de Presupuesto y Giro de Regalías (SPGR)
  </p>
  

  <!-- Botones de acción -->
  <div class="action-buttons" *ngIf="registroActual">
    <p-button label="Detalle Gestión Financiera" icon="pi pi-chart-line" class="detail-button"
      (click)="onDetalleGestionClick()">
    </p-button>
    <p-button label="Detalle de Recaudo" icon="pi pi-money-bill" class="detail-button"
      (click)="onDetalleRecaudoClick()">
    </p-button>
    <p-button label="Informe Trimestral de Gestión Financiera" icon="pi pi-file-pdf" class="detail-button"
      (click)="onInformeTrimestraClick()">
    </p-button>
  </div>

  <!-- Información adicional del registro seleccionado -->
  <div *ngIf="registroActual" class="registro-detalle">
    <mat-card class="info-card" style="height: auto;">
      <mat-card-header>
        <mat-card-title class="card-title card-main">Detalle del Registro Seleccionado</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="display: table-row;width: 100%;;">
          <div *ngFor="let registro of registrosFiltrados">
            <div class="detail-grid">
              <div class="detail-item">
                <strong>Fuente:</strong> {{registro['fuente'] || 'N/A'}}
              </div>
              <div class="detail-item">
                <strong>Beneficiario:</strong> {{registro['beneficiario'] || 'N/A'}}
              </div>
              <div class="detail-item">
                <strong>Presupuesto disponible:</strong> 
                <div style="text-align: right;">
                  {{formatMillions2(registro['apropiacion-vigente-disponible'], {includeMillionSuffix: false}) || 'N/A'}}
                </div>            
              </div>
              <div class="detail-item">
                <strong>Compromisos:</strong> 
                <div style="text-align:right;">
                  {{formatMillions2(registro['compromisos'], {includeMillionSuffix: false}) || 'N/A'}}
                </div>            
              </div>
              <div class="detail-item">
                <strong>Saldo sin afectación:</strong> 
                <div style="text-align:right;">
                  {{formatMillions2(registro['saldo-sin-afectacion'], {includeMillionSuffix: false}) || 'N/A'}}
                </div>            
              </div>
            </div>
          </div>    
        </div>
            
      </mat-card-content>
      <p class="final-note">
        <strong>Cifras en pesos.</strong>        
      </p>
    </mat-card>    
  </div>
  
</div>